<!-- Always section -->
<section class="block always">
    <div class="container">
        <h2 class="always__heading">Choose your flexible plan.</h2>
        <div class="always__cards grid grid--1x3">
            <div class="plan">
                <div class="card always-card">
                    <header class="always-card__header">
                        <svg class="icon">
                            <use xlink:href="svg/sprite.svg#card-travel"></use>
                        </svg>
                        <h3 class="plan__heading">Starter Plan</h3>
                    </header>
                    <div class="always-card__body">
                        <ul class="list list--tick">
                            <li class="list__item">Store unlimited data</li>
                            <li class="list__item">Export to pdf, xls, csv</li>
                            <li class="list__item">Cloud server support</li>
                        </ul>
                        <p class="plan__price">
                            $9.99/
                            <span class="plan__billing-cycle">year</span>
                        </p>
                        <span class="plan__detials"
                            >up to 3 user + 1.99 per user</span
                        >
                        <a class="btn-group btn btn--white">
                            Get this
                            <i
                                class="btn-group__icon fa-solid fa-arrow-right-long"
                            ></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="plan plan--popular">
                <div class="card always-card">
                    <header class="always-card__header">
                        <svg class="icon">
                            <use
                                xlink:href="svg/sprite.svg#card-giftcard"
                            ></use>
                        </svg>
                        <h3 class="plan__heading">Sliver Plan</h3>
                    </header>
                    <div class="always-card__body">
                        <ul class="list list--tick">
                            <li class="list__item">Store unlimited data</li>
                            <li class="list__item">Export to pdf, xls, csv</li>
                            <li class="list__item">Cloud server support</li>
                        </ul>
                        <p class="plan__price">
                            $9.99/
                            <span class="plan__billing-cycle">year</span>
                        </p>
                        <span class="plan__detials"
                            >up to 3 user + 1.99 per user</span
                        >
                        <a class="btn-group btn btn--accent">
                            Get this
                            <i
                                class="btn-group__icon fa-solid fa-arrow-right-long"
                            ></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="plan">
                <div class="card always-card">
                    <header class="always-card__header">
                        <svg class="icon">
                            <use
                                xlink:href="svg/sprite.svg#card-membership"
                            ></use>
                        </svg>
                        <h3 class="plan__heading">Diamond Plan</h3>
                    </header>
                    <div class="always-card__body">
                        <ul class="list list--tick">
                            <li class="list__item">Store unlimited data</li>
                            <li class="list__item">Export to pdf, xls, csv</li>
                            <li class="list__item">Cloud server support</li>
                        </ul>
                        <p class="plan__price">
                            $9.99/
                            <span class="plan__billing-cycle">year</span>
                        </p>
                        <span class="plan__detials"
                            >up to 3 user + 1.99 per user</span
                        >
                        <a class="btn-group btn btn--white">
                            Get this
                            <i
                                class="btn-group__icon fa-solid fa-arrow-right-long"
                            ></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
