<div class="plan">
    <div class="card always-card">
        <header class="always-card__header">
            <img class="plan__image" src="images/card-travel.svg" alt="" />
            <h3 class="plan__heading">Starter Plan</h3>
        </header>
        <div class="always-card__body">
            <ul class="list list--tick">
                <li class="list__item">Store unlimited data</li>
                <li class="list__item">Export to pdf, xls, csv</li>
                <li class="list__item">Cloud server support</li>
            </ul>
            <p class="plan__price">
                $9.99/ <span class="plan__billing-cycle">year</span>
            </p>
            <span class="plan__detials">up to 3 user + 1.99 per user</span>
            <a href="#" class="btn btn--white">Get this</a>
        </div>
    </div>
</div>
