<div class="card comment-card">
    <p class="comment-card__text">
        Eleifend fames amet, fames enim. Ullamcorper pellentesque ac volutpat
        nibh aliquet et, ut netus. Vel, fringilla sit eros pretium felis massa
        mauris, aliquam congue.
    </p>
    <div class="comment-card__footer">
        <img class="comment-card__image" src="images/cmt-person-1.svg" alt="" />
        <p class="comment-card__user">
            Cameron Williamson,<span class="user-position"> CEO</span>
        </p>
    </div>
</div>
