<div class="card product-card">
    <div class="icon-container">
        <img class="product-card__icon" src="svg icons/phone-link.svg" alt="" />
    </div>
    <div class="product-card__content">
        <h3 class="product-card__heading">Cloud server</h3>
        <p class="product-card__text">
            Elit esse cillum dolore eu fugiat nulla pariatur
        </p>
        <img
            class="product-card__arrow"
            src="svg icons/arrow-right-alt.svg"
            alt=""
        />
    </div>
</div>
