<section class="feature-sections">
    <div class="block feature">
        <div class="container grid grid--1x2">
            <div class="feature__content">
                <header class="block__header">
                    <span class="feature__label">Alwalys online</span>
                    <h1 class="feature__heading">
                        Real-time support with cloud
                    </h1>
                </header>
                <p class="block__text">
                    Tellus lacus morbi sagittis lacus in. Amet nisl at mauris
                    enim accumsan nisi, tincidunt vel. Enim ipsum, amet quis
                    ullamcorper eget ut.
                </p>
                <a class="link__arrow" href="#"
                    >Learn more
                    <i class="arrow-right fa-solid fa-arrow-right"></i
                ></a>
            </div>
            <img class="feature__image" src="svg/feature-pic__one.svg" alt="" />
        </div>
    </div>
    <div class="block feature">
        <div class="container grid grid--1x2">
            <div class="feature__content">
                <header class="block__header">
                    <span class="feature__label">free some cost</span>
                    <h1 class="feature__heading">
                        Save cost for you and family
                    </h1>
                </header>
                <p class="block__text">
                    Tellus lacus morbi sagittis lacus in. Amet nisl at mauris
                    enim accumsan nisi, tincidunt vel. Enim ipsum, amet quis
                    ullamcorper eget ut.
                </p>
                <a class="link__arrow" href="#"
                    >Learn more
                    <i class="arrow-right fa-solid fa-arrow-right"></i
                ></a>
            </div>
            <img class="feature__image" src="svg/feature-pic__two.svg" alt="" />
        </div>
    </div>
    <div class="block feature">
        <div class="container grid grid--1x2">
            <div class="feature__content">
                <header class="block__header">
                    <span class="feature__label">Use anytime</span>
                    <h1 class="feature__heading">Use anytime when you need</h1>
                </header>
                <p class="block__text">
                    Tellus lacus morbi sagittis lacus in. Amet nisl at mauris
                    enim accumsan nisi, tincidunt vel. Enim ipsum, amet quis
                    ullamcorper eget ut.
                </p>
                <a class="link__arrow" href="#"
                    >Learn more
                    <i class="arrow-right fa-solid fa-arrow-right"></i
                ></a>
            </div>
            <img
                class="feature__image"
                src="svg/feature-pic__three.svg"
                alt=""
            />
        </div>
    </div>
</section>
