<!-- Hero section -->
<header class="block hero">
    <div class="grid grid--1x2 container">
        <div class="block__content">
            <header class="block__header">
                <h1>Track your Expenses & Save Money</h1>
            </header>
            <p class="block__text">
                Helps you to organize your income and expenses
            </p>
            <div class="hero__container">
                <a class="btn-group btn btn--accent">
                    Try free demo
                    <i class="btn-group__icon fa-solid fa-chevron-down"></i>
                </a>
                <span class="hero__info">— Web, iOS and Android</span>
            </div>
        </div>
        <img class="hero__image" src="./svg images/block-img__one.svg" alt="" />
    </div>
</header>
