<nav class="nav container collapsible">
    <a class="nav__logo" href="/"><img src="svg/Logo.svg" alt="" /></a>
    <img class="nav__toggler" src="svg/menu.svg" alt="" />
    <ul class="list nav__list collapsible__content">
        <li class="list__item"><a href="#">Features</a></li>
        <li class="list__item"><a href="#">About us</a></li>
        <li class="list__item"><a href="#">Pricing</a></li>
        <li class="list__item"><a href="#">Feedback</a></li>
    </ul>
    <div class="nav__button-container collapsible__content">
        <a href="" class="btn btn--white nav--button">Request a demo</a>
    </div>
</nav>
